{% extends 'main/base.html' %}
{% load has_group %}

{% block title %} Home Page {% endblock %}



{% block content %}

    <!-- body -->
    <h2 style="color:red">Moderators</h2>
    {% for user in moderators %}
        <div class="card  ">
        <div class="card-header"><strong>{{user.username}}</strong></div>
        
        <div class="card-body">
            <h5 class="card-title" >{{user.email}}</h5>
        </div>
        </div>
        {% empty %}
        <p>No admins?</p>
    {% endfor %}
    <h2 style="color:green">Users</h2>
    {% for user in users %}
    <div class="card  ">
      <div class="card-header"><strong>{{user.username}}</strong></div>
    
      <div class="card-body">
        <h5 class="card-title">{{user.email}}</h5>
        {% if not user.is_staff %}
            {% if not user|has_group:"mod" %}
          <form method ='post'>
             {% csrf_token %}
             <input type="hidden"  name="user-id" value="{{user.id}}">
             <button type="submit" class="btn btn-warning" name="user-action" value="ban">Ban</button>
             <button type="submit" class="btn btn-info" name="user-action" value="promote">Promote to admin</button>
          </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p>No Users found</p>
    {% endfor %}
    <h2 style="color:gray">Banned Users</h2>
    {% for user in banned_users %}
    <div class="card ">
      <div class="card-header"><strong>{{user.username}}</strong></div>
    
      <div class="card-body">
        <h5 class="card-title">{{user.email}}</h5>
        {% if not user.is_staff %}
            {% if not user|has_group:"mod" %}
          <form method ='post'>
             {% csrf_token %}
             <input type="hidden" name="user-action" value="unban">
             <button type="submit" class="btn btn-info" name="user-id" value="{{user.id}}">Unban</button>
          </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p>No Users found</p>
    {% endfor %}
{% endblock %}