{% extends 'main/base.html' %}
{% load has_group %}
{% load static %}


{% block title %} Home Page {% endblock %}



{% block content %}

<!-- SideBar -->
<style>
    body {
      font-family: "Lato", sans-serif;
    }
    
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    </style>
    </head>
    <body>
    
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <ul>
        {% for cat in categories %}
        <li>
          <a href="{% url 'post.category' cat.id %}" >{{cat.name}}</a>
          <form>

          </form>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="subscribe-cat-id" value="{{cat.id}}">
            <button class="btn btn-success" type="submit">
              {% if user in cat.subscribers.all %}
              Unsubscribe
              {% else %}
              Subscribe
              {% endif %} 
            </button>
        </form>
          <!-- <a href="{{cat.subscribe_button}}" class="btn btn-info">
 
          </a> -->
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Categories</span>
    
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>
  <div class="d-flex">
    <form class="form-inline" method="POST" action="{% url 'post.search' %}">
      {% csrf_token %}
      <input name="search-term" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

    <!-- body -->
    {% for post in posts %}
    <div class="card  ">
      <div class="card-header"><strong>@{{post.author.username}}</strong></div>
      <div class="card-title"><strong>@{{post.category.name}}</strong></div>
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="{{post.get_image_url}}" alt="post {{post.title}} image" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
    
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">
          {{post.content}}
        </p>
        <a href="{{post.get_show_url}}" class="btn btn-success"> Details </a>
        {% if user == post.author or user.is_staff or request.user|has_group:"mod" %}
          <a href="{{post.get_edit_url}}" class="btn btn-info"> Edit </a>
          <a href="{{post.get_delete_url}}" class="btn btn-danger"> Delete </a>
        {% endif %}

      </div>
      <div class="card-footer">Created at {{post.created_at}}</div>
    </div>
    {% empty %}
    <p>No Posts found</p>
    {% endfor %}
{% endblock %}